*/node_modules/*
*/dist/*
/node_modules/
/.vite/

*/.firebase/*
.firebase/
/firebase-debug.log
/firebase-debug.*.log
/pubsub-debug.log
/ui-debug.log

.idea/
.run/

.env*
*credentials.*
*service-key.*
.vscode/*

/scripts/bookings-prod-8ce541a294f6.json
/scripts/booking-system-6435d-firebase-adminsdk-km04g-9bdbdeb0e2.json
/scripts/bookings-prod.json
/scripts/bookings-dev.json
