*/node_modules/*
*/build/*

*/.firebase/*

*/.env
*credentials.*
*service-key.*
.vscode/*

/scripts/bookings-prod-8ce541a294f6.json
/scripts/booking-system-6435d-firebase-adminsdk-km04g-9bdbdeb0e2.json
