.row {
    justify-content: center;
}

.heading {
    width: 1000px;
}

.list {
    margin-top: 12px;
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    width: 1000px;
}

.listHeader {
    display: flex;
    justify-content: space-between;
}
