.listItem {
    min-height: 120px;
    height: 120px;
    background: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 24px;
    gap: 24px;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

.listItem:hover {
    background: #e5e7eb;
    border: 1px solid #cbd5e1;
    padding: 23px;
}

.listItem img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;

    @media (max-width: 450px) {
        width: 50px;
    }
}

.listItem > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.listItem > div > h4 {
    margin: 0;
    font-weight: 800;
}

.listItem > div > p {
    font-size: 12px;
    font-weight: 700;
    color: #8766d4;
    text-decoration: none;
}
