.paper {
    padding: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    width: 100%;
}

.formControl {
    margin-top: 8px;
    margin-bottom: 16px;
    min-width: 120px;
}

.submitButton {
    margin-top: 16px;
}
