.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.logo {
    max-width: 200px;
    margin: 16px;
}

.submitButton {
    margin-top: 8px;
    color: white;
}

.snackBar {
    background-color: #f44336;
}
