.markdown {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.markdown blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #4bc5d9;
}

.markdown li::marker {
    font-weight: 800;
}

.markdown h3 {
    color: #b14592;
}

.markdown img {
    aspect-ratio: inherit;
    width: 250px;
    border-radius: 10px;
    border: 5px solid #4bc5d9;
}
